## 2.3 문자열
### 2.3.1 인용 부호로 문자열 생성

다른 스크립트들과 비슷하다. 

* 문자열이랑 부동소숫점이랑 변환할때 조금 특이하다.
* print()에서 여러개 인자주기가 된다.
* 문자열의 슬라이스[::]가 자주 사용되는 문법이다.

In [13]:
'작은 따옴표로 둘러싼 문자열 안쪽에서는 "큰 따옴표"를 마음대로 쓸 수 있다.'

'작은 따옴표로 둘러싼 문자열 안쪽에서는 "큰 따옴표"를 마음대로 쓸 수 있다.'

In [14]:
s = '''작은 따옴표나 큰 따옴표 세개로 문자열을 만들 수 있다.
그 안쪽에서는 '작은 따옴표'나 "큰 따옴표"를 마음대로 쓸 수 있게된다.'''

print(s)

작은 따옴표나 큰 따옴표 세개로 문자열을 만들 수 있다.
그 안쪽에서는 '작은 따옴표'나 "큰 따옴표"를 마음대로 쓸 수 있게된다.

### 2.3.2 데이터 타입 변환

In [1]:
str(98.6)

'98.6'

In [2]:
str(1.0e4)

'10000.0'

In [16]:
str(True)

'True'

### 2.3.4 결합

In [1]:
'문자열을 '+'더하면 합쳐진다'

'문자열을 더하면 합쳐진다'

In [17]:
'문자열을 ' '그냥 연달아 써도 합쳐진다'

'문자열을 그냥 연달아 써도 합쳐진다'

In [2]:
# 여러개의 인자를 print() 에 전달하면 인자 사이에 공백을 붙여준다.

a = "제권아,"
b = "안녕~"
print(a, b)

제권아, 안녕~

### 2.3.5 복제하기

In [18]:
s = '나' * 3
m = '나' * 4
e = '헤이주드'
print(s, m, m, e)

나나나 나나나나 나나나나 헤이주드

### 2.3.6 추출

문자열은 변경불가다.

replace()를 사용하거나, 슬라이스해야한다.

In [19]:
name = '박제권'
name[0] = '김' # 여기에서 오류발생

TypeError: 'str' object does not support item assignment

In [4]:
name = '김제권'
name.replace('김','박')

'박제권'

In [20]:
'박'+name[1:]

'박제권'

### 2.3.7 슬라이스 [start:end:step]

In [23]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
print(alphabet[0])
print(alphabet[-1])
print(alphabet[4:20:3]) # 4번째에서 20번째까지 3개씩 건너뛰면서
print(alphabet[:21:5]) # 처음부터 21 번째까지 5개씩 건너뛰면서

a
z
ehknqt
afkpu

In [14]:
alphabet[::-1] # 거꾸로

'zyxwvutsrqponmlkjihgfedcba'

In [19]:
alphabet[-51:] # 끝에서 51번째 문자열에서 끝까지

'abcdefghijklmnopqrstuvwxyz'

In [21]:
alphabet[-51:-50] # 범위를 넘어섰는디.. (끝에서 51번째에서 끝에서 51번째까지다)

''

In [22]:
alphabet[:70] # 처음부터 69번째까지

'abcdefghijklmnopqrstuvwxyz'

### 2.3.9 문자열 나누기

In [23]:
todos = "파마하기, 영희한테 전화하기, 은행가기"
todos.split(',')

['파마하기', ' 영희한테 전화하기', ' 은행가기']

In [24]:
todos.split()

['파마하기,', '영희한테', '전화하기,', '은행가기']

### 2.3.10 합쳐서 문자열 만들기

join() 함수는 "문자열".join() 으로 호출한다.

In [28]:
things = ['호랑이', '여우', '인간 전체']
things_string = ', '.join(things)
print(things_string)

호랑이, 여우, 인간 전체

### 2.3.11 문자열 다루기
startswith(), endswith(), find() 같은 것들이 있다.

In [25]:
poem = """창(窓) 밖에 밤비가 속살거려
육첩방(六疊房)은 남의 나라,

시인(詩人)이란 슬픈 천명(天命)인 줄 알면서도
한 줄 시(詩)를 적어 볼까.

땀내와 사랑내 포근히 품긴
보내주신 학비(學費) 봉투(封套)를 받아

대학(大學) 노―트를 끼고
늙은 교수(敎授)의 강의(講義) 들으러 간다."""

In [30]:
print(poem.startswith('창'))
print(poem.endswith('간디'))
print(poem.find('시'))   # "시"가 처음 등장하는 위치는?
print(poem.find('시', 36)) # 35번 글자 이후에 등장하는 "시" 의 위치는?
print(poem.rfind('시')) # 마지막으로 "시"라는 글자가 나오는 위치는?
print(poem.count('시')) # "시"라는 글자는 몇번이나 등장하는가?

True
False
35
66
66
2

In [3]:
s = "하하호호하하하"
s.strip('하하')

'호호'

In [12]:
s = "jinto was a average boy"
print(s.capitalize())
print(s.title())
print(s.replace('a', '!'))
print(s.replace('a', '!', 2))  # 두개만 치환

Jinto was a average boy
Jinto Was A Average Boy
jinto w!s ! !ver!ge boy
jinto w!s ! average boy

In [8]:
print(s.center(30))
print(s.ljust(30))
print(s.rjust(30))

       jinto was a boy
jinto was a boy
               jinto was a boy