# 처음 시작하는 파이썬
한빛미디어 
(Introducing Python 번역)

전부는 아니고, 읽다가 적어두고 싶은 것만 적어둔다.

## 2장 숫자, 문자열, 변수
### 2.1 변수, 이름, 객체

타입을 알려면 type() 을 사용하자

In [4]:
a = 7
type(a)

int

In [5]:
b = a
type(b)

int

In [6]:
type(99.9)

float

In [7]:
type('글자')

str

### 2.2 숫자
정수 나누기 // 가 특이하다.

그냥 나누기 / 는 소숫점 아래도 보존한다.

In [8]:
9 / 5

1.8

In [9]:
9 // 5

1

In [10]:
a = 13
a /= 4
print(a)

3.25

In [32]:
a = 13
a //= 4
print(a)

3

하지만, a 가 float 라면...?

In [38]:
a = 8.4
a //= 4
print(a)

2.0

몫과 나머지를 한꺼번에 구할 수 있다.

In [39]:
divmod(9,5)

(1, 4)

몫과 나머지를 따로 구할 수도 있다

In [55]:
print(9 // 5)
print(9 % 5)

1
4

2진수가 있다

In [49]:
print(0x10)  # 16진수
print(10)    # 10진수
print(0o10)  # 8진수
print(0b10)  # 2진수

16
10
8
2

### 2.2.4 형변환

In [53]:
a, b = int(True), int(False)
print(a, b)

1 0

In [60]:
a, b = int(99.6), int('99')
print(a,b)

99 99

In [63]:
int('99.6') # 이거는 오류발생, 99.6, '99' 는 처리하지만 '99.6' 은 처리하지 못한다.

ValueError: invalid literal for int() with base 10: '99.6'

In [66]:
# 정수가 크다. 
googol = 10**100
print(googol)
googol = googol * googol
print(googol)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## 2.3 문자열
### 2.3.1 인용 부호로 문자열 생성

In [67]:
'작은 따옴표로 둘러싼 문자열 안쪽에는 "큰 따옴표"를 마음대로 쓸 수 있다.'

'작은 따옴표로 둘러싼 문자열 안쪽에는 "큰 따옴표"를 마음대로 쓸 수 있다.'

In [71]:
s = '''작은 따옴표나 큰 따옴표 세개로 문자열을 만들 수 있다.
그러면 '작은 따옴표'나 "큰 따옴표"를 마음대로 쓸 수 있게된다.'''

print(s)

작은 따옴표나 큰 따옴표 세개로 문자열을 만들 수 있다.
그러면 '작은 따옴표'나 "큰 따옴표"를 마음대로 쓸 수 있게된다.

### 2.3.2 데이터 타입 변환

In [1]:
str(98.6)

'98.6'

In [2]:
str(1.0e4)

'10000.0'

In [3]:
str(True)

'True'

### 2.3.4 결합

In [15]:
'문자열에 '+'덧셈을 하면 합쳐진다'

'문자열에 덧셈을 하면 합쳐진다'

In [17]:
'문자열을 ' '그냥 연달아 써도 합쳐진다'

'문자열을 그냥 연달아 써도 합쳐진다'

여러개의 인자를 print() 에 전달하면 인자 사이에 공백을 붙여준다.

In [20]:
a = "제권아,"
b = a
c = "안녕~"
print(a, b, c)

제권아, 제권아, 안녕~

### 2.3.5 복제하기

In [27]:
s = '나' * 3
m = '나' * 4
e = '헤이주드'
print(s, m, e)

나나나 나나나나 헤이주드